.page-header {
  background-color: #ffffff;

  @media @tablet {
    padding: 0 4%;
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.page-header__logo {
  position: relative;
  padding: 13px 6.25%;

  @media @tablet {
    padding: 0;
    width: 25%;
  }
}


